#### Type Conversion
> There are Two types of Conversion
* Implicit Conversion - automatic type conversion
* Explicit Conversion - manual type conversion

> Implicit Conversio
> * In certain situations, Python automatically converts one data type to another. This is known as implicit type conversion.


> Explicit Conversion



> 1. int to float
  2. float to int
  3. int to str
  4. str to intt

In [1]:
# int to float

a = 10
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [3]:
# float to int

a = 10.0
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

10.0
<class 'float'>
10
<class 'int'>

In [4]:
# int to str

a = 10
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

In [5]:
# str to int

a = '10'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

10
<class 'str'>
10
<class 'int'>