## Built-in Data Types
> ## List
> > Lists are used to store multiple items in a single variable. Lists are created using square brackets\
> > List items are ordered, changeable, and allow duplicate values.

In [3]:
# list can be duplicated
# List can contain different data types

list1=[1,2,3,4,3,4,2, 'Bannu']

print(list1)

[1, 2, 3, 4, 3, 4, 2, 'Bannu']

In [4]:
# How to find length of the list by using len() function

print(len(list1))  # Length
print(type(list1)) # Type

8
<class 'list'>

In [5]:
# make list using the list Constructor list()

list1 = list((1,2,3,4,3,4,2,'Bannu')) # using double rounded bracktes
list1

[1, 2, 3, 4, 3, 4, 2, 'Bannu']

## Access of items and Range of items

In [6]:
# Access list item

list1[7]

'Bannu'

In [7]:
# we can access item between range
# excluded the 2nd value means ('1' is included but '3' is excluded)

list1[1:3]

[2, 3]

In [8]:
# if we not write 2nd value then it means that print all value

list1[2:]

[3, 4, 3, 4, 2, 'Bannu']

## List of Nagative Indexing

In [9]:
print(list1)         # print all values
print(list1[-8:])    # print all values
print(list1[-4:-1])  # print between -4 and -1
print(list1[-4:])    # print all values after -4 means (-4,-3,-2,-1)

[1, 2, 3, 4, 3, 4, 2, 'Bannu']
[1, 2, 3, 4, 3, 4, 2, 'Bannu']
[3, 4, 2]
[3, 4, 2, 'Bannu']

## Change List Item

In [10]:
print(list1)

[1, 2, 3, 4, 3, 4, 2, 'Bannu']

In [11]:
# Now to change value of first index means ( change '1' to '5')

list1[0] = 5
print(list1)

[5, 2, 3, 4, 3, 4, 2, 'Bannu']

In [12]:
# Change range of values

list1[5:] = ['Bannu', 'Karak', 'Lakki']
print(list1)

[5, 2, 3, 4, 3, 'Bannu', 'Karak', 'Lakki']

## Add list items
> **append()**	Adds an element at the end of the list\
> **append()**	Adds an element at the end of the list\
> **clear()**	Removes all the elements from the lis\
> **copy()**	Returns a copy of the list\
> **count()**	Returns the number of elements with the specified vaslue\
> **extend()**	Add the elements of a list (or any iterable), to the end of the current list\
> **index()**	Returns the index of the first element with the specified value\
> **insert()**	Adds an element at the specified poition\
> **pop()**	Removes the element at the specified position\
> **remove()**	Removes the item with the specifid value\
> **reverse()**	Reverses the order of the list\
> **sort()**	Sorts the list the list

In [13]:
# Append

list1.append('NWTD')
print(list1)

[5, 2, 3, 4, 3, 'Bannu', 'Karak', 'Lakki', 'NWTD']

In [14]:
# insert()

list1.insert(4,'DIK')
print(list1)

[5, 2, 3, 4, 'DIK', 3, 'Bannu', 'Karak', 'Lakki', 'NWTD']

## Extend list
> Add new complete list items to the existing list

In [15]:
list2=['Peshawar','Kohat']

list1.extend(list2)
print(list1)

[5, 2, 3, 4, 'DIK', 3, 'Bannu', 'Karak', 'Lakki', 'NWTD', 'Peshawar', 'Kohat']

## Remove list items
> * by list.remove()-->  it will remove the specific item but by 'value'
> * by list.pop() --> it will remove the specific item but by 'index'
> * by del () --> it will also remove specific item by index
> * list.clear() --> it will clear the list items but the list name will not remove

In [16]:
print(list1)

[5, 2, 3, 4, 'DIK', 3, 'Bannu', 'Karak', 'Lakki', 'NWTD', 'Peshawar', 'Kohat']

In [17]:
# remove()

list1.remove('DIK') # it will remove 'DIK' if this word is not exist then will generate error
print(list1)

[5, 2, 3, 4, 3, 'Bannu', 'Karak', 'Lakki', 'NWTD', 'Peshawar', 'Kohat']

In [18]:
# pop()

list1.pop(0) # it will remove the first item(value) from the list means(5 will removed)

print(list1)

[2, 3, 4, 3, 'Bannu', 'Karak', 'Lakki', 'NWTD', 'Peshawar', 'Kohat']

In [19]:
# del 

del list1[0] # it will remove the first value from the list means(2 will removed)
print(list1)

[3, 4, 3, 'Bannu', 'Karak', 'Lakki', 'NWTD', 'Peshawar', 'Kohat']

In [20]:
# clear()
list3=['Pak', 'Ind']
print(list3)

list3.clear()  # it will clear the list3
print(list3)

['Pak', 'Ind']
[]

## Loop throug list

In [21]:
for x in list1:
    print(x)

3
4
3
Bannu
Karak
Lakki
NWTD
Peshawar
Kohat

In [22]:
# To print the index number of the list

for x in range(len(list1)):
    print(x)

0
1
2
3
4
5
6
7
8

In [23]:
# To print the value of the list

for x in range(len(list1)):
    print(list1[x])

3
4
3
Bannu
Karak
Lakki
NWTD
Peshawar
Kohat

In [24]:
# getting length of list
length = len(list1)
  
# Iterating the index
# same as 'for i in range(len(list1))'
for i in range(length):
    print(list1[i])

3
4
3
Bannu
Karak
Lakki
NWTD
Peshawar
Kohat

In [25]:
i = 0

while i < len(list1):
    print(list1[i])
    i = i+1

3
4
3
Bannu
Karak
Lakki
NWTD
Peshawar
Kohat

In [26]:
# List Comprehension method

[print(y) for y in list1]

3
4
3
Bannu
Karak
Lakki
NWTD
Peshawar
Kohat

[None, None, None, None, None, None, None, None, None]

In [27]:
# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]
  
# Using list comprehension
lis=[i for i in list]
print(lis)

[1, 3, 5, 7, 9]

> * Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

> * Without list comprehension you will have to write a for statement with a conditional test inside:

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
print(newlist)
for i in fruits:
    if 'a' in i:
        newlist.append(i)

print(newlist)

[]
['apple', 'banana', 'mango']

In [29]:
# With list comprehension you can do all that with only one line of code:

newlist=[x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana', 'mango']

In [30]:
# Set the values in the new list to upper case:
newlist=[x.upper() for x in fruits if 'a' in x]
print(newlist)

['APPLE', 'BANANA', 'MANGO']

In [31]:
# "Return the item if it is not banana, if it is banana return orange".

newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## Sort the list
> * Ascending order
> * Descending order

In [32]:
# Ascending order

newlist.sort()
print(newlist)

['apple', 'cherry', 'kiwi', 'mango', 'orange']

In [33]:
# Descending order

newlist.sort(reverse = True)
print(newlist)

['orange', 'mango', 'kiwi', 'cherry', 'apple']

In [34]:
newlist.reverse()
print(newlist)

['apple', 'cherry', 'kiwi', 'mango', 'orange']

## Copy list

In [35]:
# First Method

newlist1=newlist.copy()

print(newlist1)

['apple', 'cherry', 'kiwi', 'mango', 'orange']

In [2]:
# 2nd method

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']