### Set
> * ***Sets are used to store multiple items in a single variable.***
>   
> * A set is a collection which is unordered, unchangeable, and unindexed.
>
> ##### Note: *Set items are unchangeable, but you can remove items and add new item*s..

### Set Methods

***Add()***
>   Adds an element to the set

***clear()***
>   Removes all the elements from the set

***copy()***
>   Returns a copy of the set

***difference()***
>   Returns a set containing the difference between two or more sets

***discard()***
>   Remove the specified item

***intersection***
>   Returns a set, that is the intersection of two other sets

***pop()***
>   Removes an element from the set

***remove()***
>   Removes the specified element

***union()***
>   Return a set containing the union of sets

***update()***
>   Update the set with the union of this set and others

In [1]:
# set style

set1={'pak', 'ind', 'afg'}
print(set1)
print(type(set1))

{'afg', 'pak', 'ind'}
<class 'set'>

In [6]:
set2={'pak', 'ind', 'afg','bangal'}
print(set2)
print(type(set2))

{'afg', 'bangal', 'pak', 'ind'}
<class 'set'>

### Unordered
** **

> ***unordered means that the items in a set do not have a defined order.***
> 
> 
> ***Set items can appear in a different order every time you use them, and cannot be referred to by index or key.***
>
> *As we see in above example that everytime change its position*.

### Duplicate not allowed
** **

> ***Sets cannot have two items with the same value..***
>

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)    # it will only print three values 'apple', 'banana', 'cherry' because 'apple' are duplicate and will print once

{'cherry', 'apple', 'banana'}

In [8]:
thisset = {"apple", "banana", "cherry", "banana", True, 1, 2}

print(thisset) # here 'True' and 1 have same means so only True will print

{True, 2, 'apple', 'cherry', 'banana'}

### Add Items

> ***Once a set is created, you cannot change its items, but you can add new items.***
>
> ***To add one item to a set use the add() method.***
>
> ***To add items from another set into the current set, use the update() method.***.

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [10]:
thisset = {"apple", "banana", "cherry"}
thisset2= {'pineapple', 'mango'}

thisset.update(thisset2)

print(thisset)

{'apple', 'cherry', 'mango', 'pineapple', 'banana'}

### Remove Item

> ***To remove an item in a set, use the remove(), or the discard() method.***.

In [15]:
# Remove method

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [16]:
# Remove method
# Note: If the item to remove does not exist, remove() will raise an error.

thisset = {"apple", "cherry"}

thisset.remove("banana")

print(thisset)

KeyError: 'banana'

In [18]:
# Discard method

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [1]:
# Discard method
# Note: If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

### Remove Item

> ***You can also use the pop() method to remove an item,***
>
> ***but this method will remove a random item, so you cannot be sure what item that gets removed.***
>
> ***The return value of the pop() method is the removed item*****

In [1]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

> ***The clear() method empties the set:***

In [2]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

> ***The del keyword will delete the set completely:***

In [5]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) # it will arise error because first the set is deleted after that we have called it. it means there is no set

NameError: name 'thisset' is not defined

.set)

### Union
> ***The union() method returns a new set with all items from both sets:***.

In [6]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 'b', 1, 2, 3, 'a'}

> ***You can use the | operator instead of the union() method, and you will get the same result.***

In [7]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 'b', 1, 2, 3, 'a'}

In [8]:
# Join multiple set

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'c', 'b', 'John', 'apple', 'bananas', 'Elena', 'a', 'cherry'}

### Join a Set and a Tuple

> ***The union() method allows you to join a set with other data types, like lists or tuples.***
>
> ***The result will be a set***
>
> *Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.*

In [10]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)
print(type(z))

{1, 2, 3, 'c', 'b', 'a'}
<class 'set'>

### Update set:

> ***The update() method inserts all items from one set into another.***
>
> ***The update() changes the original set, and does not return a new set.***
>
> *Note: Both union() and update() will exclude any duplicate items.*

In [14]:
set1 = {"a", "b" , "c", "b"}  # Duplicate
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 'b', 1, 2, 3, 'a'}

### Intersection
> ***Keep ONLY the duplicate***
>
> ***The intersection() method will return a new set, that only contains the items that are present in both sets***.

In [15]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2     # same work like intersection
print(set3)

{'apple'}

### Difference

> ***The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.***.

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}