### Tuple:

*  Tuples are used to store multiple items in a single variabl
*  A tuple is a collection which is ordered and unchangeable
*  > **Unchangeable**: 
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created
   > 
   > *But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple*.
   >
   > by **del** keywor we can delete a touple completly.
*  Tuples are written with round brackets

In [2]:
touple1=('Pakistan', 'India', 'UAE', 5)
print(touple1)
print(type(touple1))

('Pakistan', 'India', 'UAE', 5)
<class 'tuple'>

In [3]:
# If we create touple with one element then

touple2=('Pakistan')
print(touple2)
print(type(touple2))

Pakistan
<class 'str'>

In [4]:
# as we see above that it is string
# So when we create touple then we will must put comma after first element if we put only one element as like below:

touple2=('Pakistan',)
print(touple2)
print(type(touple2))

('Pakistan',)
<class 'tuple'>

### Access of the items of touple are same as like the list like we have learnt in previous lecture

> **unpacking touple:**
> * When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
>
> * But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [7]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green) # green , yellow and red are variables
print(yellow) 
print(red)

apple
banana
cherry

> **Using Asterisk** *
>
> * If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [8]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits      # there are only three variables but values are 5. so the last three values will add to the variable 'red' as a list

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

> **If the asterisk is added to another variable name than the last**,
>
> Python will assign values to the variable until the number of values left matches the number of variables left.

In [9]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Practice more and more to learn something more